@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  border: 1px solid #d5d5d5;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #b0b0b0;
}

.partner {
  min-width: 80vw;
  min-height: 15rem;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 1rem;
  text-align: left;
  margin: 1rem auto;
}

.partner .cardWrapper {
  margin: 1rem auto;
  max-width: 50rem;
}

.partner .cardWrapper .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner .cardWrapper .row .col-md-4 img {
  max-width: 6rem;
}

.partner .cardWrapper .row .col-md-8 .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner .cardWrapper .row .col-md-8 .card-body .prodName {
  text-align: left;
}

.partner .cardWrapper .row .col-md-8 .card-body .prodName .card-title {
  margin: 0 !important;
}

.partner .cardWrapper .row .col-md-8 .card-body .prodName .price {
  margin: 0.5rem !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  font-weight: 800;
}

.partner .cardWrapper .row .col-md-8 .card-body .prodName .quantity {
  margin: 0 !important;
}

.partner .cardWrapper .row .col-md-8 .card-body .prodSelect label {
  margin: 0.5rem 0;
}

.partner .storeBtnWrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  text-align: center;
}

.partner .storeBtnWrapper button {
  margin: 0.5rem 1rem;
}

.partner .storeBtnWrapper .modal .modal-dialog .modal-content .modal-body .summary ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner .storeBtnWrapper .modal .modal-dialog .modal-content .modal-body .summary ul li select {
  width: 4rem;
}

.partner .storeBtnWrapper .modal .modal-dialog .modal-content .modal-body form .form-group input {
  margin: 0.5rem auto;
}

.partner .storeBtnWrapper .modal .modal-dialog .modal-content .modal-body form .form-group textarea {
  width: 100%;
  padding: 0.5rem 1rem;
}

.partner .storeBtnWrapper .modal .modal-dialog .modal-content .modal-body form .form-group .container .row .col-sm-6 .form-group {
  margin-bottom: 0.5rem;
}

.partner .storeBtnWrapper .modal .modal-dialog .modal-content .modal-body form .form-group .container .row .col-sm-6 .form-group .date input {
  margin: 0;
}

.partner .powered {
  margin: 2rem 0;
  padding: 0 2rem;
}

.partner .powered select {
  margin: 0 1rem;
  width: 8rem;
}

.partner .powered .custom-file {
  text-align: left;
}

.partner .powered .col-sm-10 {
  margin: 1rem 0;
}

.partner .powered button {
  margin-bottom: 1rem;
}

.partner .powered form {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partner .powered form label {
  margin: 1rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.partner h1 {
  background-color: #000000;
  color: #ffffff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0;
  font-weight: 300;
}

.table .thead-dark th {
  background-color: #363636;
  color: #ffffff;
}

@media (max-width: 960px) {
  .partner {
    max-width: 90vw;
  }
  .partner .cardWrapper {
    max-width: 95%;
  }
  .partner .cardWrapper .row .col-md-8 .prodName h5 {
    font-size: 1rem;
  }
  .partner .cardWrapper .row .col-md-8 .prodName p {
    font-size: 0.8rem;
  }
  .partner .cardWrapper .row .col-md-8 .prodSelect select {
    font-size: 1rem;
  }
  .partner .cardWrapper .row .col-md-8 .prodSelect .custom-control label {
    font-size: 0.8rem;
  }
  .partner .powered .col-sm-10 {
    margin: 0;
  }
  .partner .powered button {
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=store.css.map */