@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
    font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    border: 1px solid #d5d5d5;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #b0b0b0;
}

.partner {
    min-width: 80vw;
    min-height: 15rem;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    border-radius: 1rem;
    text-align: left;
    margin: 1rem auto;
    .cardWrapper {
        margin: 1rem auto;
        max-width: 50rem;
        .row {
            .col-md-4 {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 6rem;
                }
            }
            .col-md-8 {
                .card-body {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .prodName {
                        text-align: left;
                        .card-title {
                            margin: 0 !important;
                        }
                        .price {
                            margin: 0.5rem !important;
                            margin-left: 0 !important;
                            margin-bottom: 0 !important;
                            font-weight: 800;
                        }
                        .quantity {
                            margin: 0 !important;
                        }
                    }
                    .prodSelect {
                        label {
                            margin: 0.5rem 0;
                        }
                    }
                }
            }
        }
    }
    .storeBtnWrapper {
        width: fit-content;
        margin: 1rem auto;
        text-align: center;
        button {
            margin: 0.5rem 1rem;
        }
        .modal {
            .modal-dialog {
                .modal-content {
                    .modal-body {
                        .summary {
                            ul {
                                li {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;
                                    select {
                                        width: 4rem;
                                    }
                                }
                            }
                        }
                        form {
                            .form-group {
                                input {
                                    margin: 0.5rem auto;
                                }
                                textarea {
                                    width: 100%;
                                    padding: 0.5rem 1rem;
                                }
                                .container {
                                    .row {
                                        .col-sm-6 {
                                            .form-group {
                                                margin-bottom: 0.5rem;
                                                .date {
                                                    input {
                                                        margin: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .powered {
        margin: 2rem 0;
        padding: 0 2rem;
        select {
            margin: 0 1rem;
            width: 8rem;
        }
        .custom-file {
            text-align: left;
        }
        .col-sm-10 {
            margin: 1rem 0;
        }
        button {
            margin-bottom: 1rem;
        }
        form {
            margin: 1rem auto;
            display: flex;
            flex-direction: column;
            label {
                margin: 1rem 0;
                width: fit-content;
                height: fit-content;
            }
        }
    }
    h1 {
        background-color: #000000;
        color: #ffffff;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem 0;
        font-weight: 300;
    }
}

.table .thead-dark th {
    background-color: #363636;
    color: #ffffff;
}

@media (max-width: 960px) {
    .partner {
        max-width: 90vw;
        .cardWrapper {
            max-width: 95%;
            .row {
                .col-md-8 {
                    .prodName {
                        h5 {
                            font-size: 1rem;
                        }
                        p {
                            font-size: 0.8rem;
                        }
                    }
                    .prodSelect {
                        select {
                            font-size: 1rem;
                        }
                        .custom-control {
                            label {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
        .powered {
            .col-sm-10 {
                margin: 0;
            }
            button {
                margin: 1rem 0;
            }
        }
    }
}